<% @recipes.each do |recipe| %>
  <p><a href="/recipes/<%= recipe.id %>">Title: <%= recipe.title %></a></p>
  <p>Chef: <%= recipe.chef %></p>
  <p>Ingredients: <%= recipe.ingredients %></p>
  <p>Directions: <%= recipe.directions %></p>
  <p>-----</p>
<% end %>